@(proposal:models.Proposal)
@import models.conference.ConferenceDescriptor
<p>Hi,</p>
<p>We're sorry to inform you that your proposal for @Messages("longYearlyName") was <strong>refused</strong>, keep in mind that we received 776 proposals and the available slots are very limited</p>
<p>Proposition title : <strong>@proposal.title</strong>, <strong>@Messages(proposal.talkType.id)</strong>.</p>
<p>We would like to thank you sincerely for your proposal.</p>
<p>Hopefully we can still welcome you as a Devoxxian, registration details <a href="@ConferenceDescriptor.current().conferenceUrls.registration">@ConferenceDescriptor.current().conferenceUrls.registration</a>.</p>
<br>
<br>
<p>Kind regards,</p>
<p>The @Messages("longYearlyName") team</p>
<p></p>
