@(proposal:models.Proposal)
@import models.conference.ConferenceDescriptor
@import models.conference.ConferenceProposalConfigurations
<h3>Welcome to @Messages("longYearlyName")</h3>

<p>Hi,</p>
<p>We're glad to inform you that your proposal for @Messages("longYearlyName") has been <strong>accepted</strong></p>
<p>Proposition title : <strong>@proposal.title</strong>, of type [<strong>@Messages(proposal.talkType.id)</strong>].</p>
<hr>
<h3>What's next?</h3>
<p>You must now validate or decline the general terms and conditions, and confirm that you are still ok to do
this presentation :</p>
<a href="@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.ApproveOrRefuse.showAcceptTerms()">@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.ApproveOrRefuse.showAcceptTerms()</a>

@if(!ConferenceProposalConfigurations.doesItGivesSpeakerFreeEntrance(proposal.talkType)) {
<p>This type of talk does not grant a conference pass, so you will need to register as an attendee in order to access the conference area.
Registration details <a href="@ConferenceDescriptor.current().conferenceUrls.registration">@ConferenceDescriptor.current().conferenceUrls.registration</a>.</p>
}

<h3>For any question regarding your talk</h3>
<p>Please, do not respond to this email. Send any comment through the web interface, and our team will do its bests to respond quickly.</p>
<a href="@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CallForPaper.showCommentForProposal(proposal.id)">@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CallForPaper.showCommentForProposal(proposal.id)</a>
<br>
<p>The @Messages("longYearlyName") team</p>
