@(proposal:models.Proposal)
@import models.conference.ConferenceDescriptor
@import models.conference.ConferenceProposalConfigurations
<p>Hello Devoxxian,</p>
<p>Congratulations – your talk has been <strong>accepted</strong> by the Devoxx US Program Committee,
    and we wish to invite you to deliver your talk at the conference.</p>

<p>Proposal : <strong>@proposal.title</strong>, of type [<strong>@Messages(proposal.talkType.id)</strong>].</p>
<hr>
<h3>What's next?</h3>
<p>Please take a moment to review and accept the Speaker Terms and Conditions Agreement.</p>
<a href="@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.ApproveOrRefuse.showAcceptTerms()">@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.ApproveOrRefuse.showAcceptTerms()</a>

@if(!ConferenceProposalConfigurations.doesItGivesSpeakerFreeEntrance(proposal.talkType)) {
<p>This type of talk does not grant a conference pass, so you will need to register as an attendee in order to access the conference area.
Registration details <a href="@ConferenceDescriptor.current().conferenceUrls.registration">@ConferenceDescriptor.current().conferenceUrls.registration</a>.</p>
}

<h3>For any question regarding your talk</h3>
<p>Please, do not respond to this email. Send any comment through the web interface, and our team will do its best to respond quickly.</p>
<a href="@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CallForPaper.showCommentForProposal(proposal.id)">@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CallForPaper.showCommentForProposal(proposal.id)</a>
<br>
<br>
<p>We look forward to your talk, and hope you find @Messages("longYearlyName") to be an awesome event!!</p>
<p>Kind regards,</p>
<p>Stephan Janssen, Program Committee Chair</p>
<p>Paul White, Conference Chair</p>