@(events: List[Event],
        totalEvents:Long,
        page:Int,
        sort:Option[String],
        ascdesc:Option[String],
        track:Option[String]
)(implicit flash: Flash, lang: Lang, req:RequestHeader)

@main("CFP Admin") {
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3><i class="icon-stackexchange"></i> @Messages("admin.cfp.recentEvents")</h3>
        </div>

        <div class="panel-body">
          <table class="table table-bordered table-striped table-hover table-condensed">
            <thead>
              <tr>
                <th>@Messages("admin.cfp.date")</th>
                <th>@Messages("admin.cfp.author")</th>
                <th>@Messages("admin.cfp.propId")</th>
                <th>@Messages("admin.cfp.msg")</th>
              </tr>
              <tr>
                <td colspan="4">
                  <small>
                    @Messages("admin.cfp.totalEvents"): @totalEvents - Page @page/@(totalEvents/20)
                    @if(page > 0){
                      <a href="@routes.CFPAdmin.seeEvents(page-1,sort,ascdesc,track)">&lt; @Messages("previous.page")</a> -
                    }
                    @if(page < totalEvents/20){
                      <a href="@routes.CFPAdmin.seeEvents(page+1,sort,ascdesc,track)">@Messages("next.page") &gt;</a>
                    }</small>
                </td>
              </tr>

            </thead>
            <tbody>
            @events.map { event: Event =>
              <tr>
                <td class="text-center">
                  <small>@event.date.map(s=>s.toDateTime(org.joda.time.DateTimeZone.forID(ConferenceDescriptor.timeZone)).plusHours(1).toString("dd/MM HH:mm"))</small>
                </td>
                <td class="text-center">
                @tags.renderGravatar(event.uuid,showName = false)
                </td>
                <td class="text-center">
                @tags.renderObjRef(event.objRef)
                </td>
                <td><small>@event.msg </small></td>
              </tr>
            }
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4">
                  <small>
                    @Messages("admin.cfp.totalEvents"): @totalEvents - Page @page/@(totalEvents/20)
                    @if(page > 0){
                      <a href="@routes.CFPAdmin.seeEvents(page-1,sort,ascdesc,track)">&lt; @Messages("previous.page")</a> -
                    }
                    @if(page < totalEvents/20){
                      <a href="@routes.CFPAdmin.seeEvents(page+1,sort,ascdesc,track)">@Messages("next.page") &gt;</a>
                    }
                  </small>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
}
