@(timeSlots: List[Slot], rooms:List[Room])(implicit lang: Lang, flash: Flash, req: RequestHeader)

@import org.joda.time.DateTimeZone

@views.html.Publisher.devoxx("My Schedule") {
    @if(timeSlots.isEmpty){

    <div class="columns large-12 woocommerce">
        <h1>Build your own schedule</h1>
        <p>You don't have any schedule yet.</p>
        <p>Browse the <a href="@routes.Publisher.showByDay("monday")">schedule</a> and select a talk by clicking the little beer icon.</p>
        <p>View your "My Schedule" here (see header menu) or download our MyDevoxx mobile app (<a href="https://play.google.com/store/apps/details?id=com.devoxx">Android</a> or <a href="https://itunes.apple.com/us/app/my-devoxx/id1094805620">iOS</a>) and authenticate using the same email.</p>
        <img src="/assets/devoxx/images/myschedule.jpg" alt="My schedule">
    </div>
    }
    @timeSlots.groupBy(_.to.getDayOfWeek).toList.sortBy(_._1).map { case (day, slots:List[Slot]) =>
    <h2>Day @day</h2>
    <div class="columns large-12 woocommerce">
        <table class="agendaTable">
            <tr>
                <th><i class="icon-time"></i> Room</th>
                @rooms.sorted.map { roomName: Room =>
                    <td>@roomName.name</td>
                }
                </tr>

            @slots.groupBy(s => s.from.getMillis).toList.sortWith(_._1 < _._1).map { case (_, subSlots) =>
            <tr >
                <th class="timeSlot">
                    @subSlots.head.from.toDateTime(DateTimeZone.forID(ConferenceDescriptor.timeZone)).toString("HH:mm")
                    - @subSlots.head.to.toDateTime(DateTimeZone.forID(ConferenceDescriptor.timeZone)).toString("HH:mm")
                </th>
                @rooms.sorted.map { room =>
                    @tags.publisher.tagRenderRow(subSlots, room, rooms.size)
                }
            </tr>
            }


    </table>
    </div>
    }
}