@()(implicit lang: Lang, flash: Flash, req:RequestHeader)

@views.html.Publisher.devoxxPL2017("Schedule",Some("Devoxx 2017 agenda")){

<div class="large-12 columns">
<h2>Devoxx 2017 Schedule</h2>
</div>

    <div class="large-3 columns">
        <div class="input-wrap">
            <form name="search" action="/2017/search" method="GET">
            <input type="search" name="q" value="" placeholder="Search by title, keyword or speaker" class="wpcf7-form-control wpcf7-text" autofocus>
        </form>
        </div>
    </div>
    <div class="large-3 columns right">
        <a href="https://itunes.apple.com/us/app/my-devoxx/id1094805620" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/cfpdevoxx/images/AppStore.jpg"></a>
        <a href="https://play.google.com/store/apps/details?id=com.devoxx" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/cfpdevoxx/images/GooglePlay.jpg"></a>
    </div>

    <table class="mainSchedule">
        <thead>
            <tr>
                <th class="scheduleHeader">&nbsp;</th>
                <th class="scheduleHeader"><div class="scheduleHeaderDate">@Messages("day-wednesday")</div><br><a href="@routes.Publisher.showByDay("wed")">Click</a> to see full schedule</th>
                <th class="scheduleHeader"><div class="scheduleHeaderDate">@Messages("day-thursday")</div><br><a href="@routes.Publisher.showByDay("thu")">Click</a> to see full schedule</th>
                <th class="scheduleHeader"><div class="scheduleHeaderDate">@Messages("day-friday")</div><br><a href="@routes.Publisher.showByDay("fri")">Click</a> to see full schedule</th>
                <th class="scheduleHeader"><div class="scheduleHeaderDate">@Messages("day-saturday")</div><br><a href="@routes.Publisher.showByDay("sat")">Click</a> to see full schedule</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="7" class="scheduleHeader scheduleRight">What's on</td>
                <td class="scheduleRow">
                @tags.publisher.renderShowDay("conf", "wednesday", "Conference Sessions")
                </td>
                <td class="scheduleRow">
                @tags.publisher.renderShowDay("conf", "thursday", "Conference Sessions")
                </td>
                <td class="scheduleRow">
                @tags.publisher.renderShowDay("conf", "friday", "Conference Sessions")
                </td>
                <td class="scheduleRow">
                @tags.publisher.renderShowDay("conf", "saturday", "Community Day")
                </td>
            </tr>
            <tr>
                <td class="scheduleRow">
                @tags.publisher.renderShowDay("lab", "wednesday", "Hands-on Labs")
                </td>
                <td class="scheduleRow">
                @tags.publisher.renderShowDay("lab", "thursday", "Hands-on Labs")
                </td>
                <td class="scheduleRow">
                @tags.publisher.renderShowDay("lab", "friday", "Hands-on Labs")
                </td>
                <td class="scheduleRow">&nbsp;</td>
            </tr>
            <tr>
                <td class="scheduleRow">
                @tags.publisher.renderShowDay("quick", "wednesday", "Quickies")
                </td>
                <td class="scheduleRow">
                @tags.publisher.renderShowDay("quick", "thursday", "Quickies")
                </td>
                <td class="scheduleRow">
                @tags.publisher.renderShowDay("quick", "friday", "Quickies")
                </td>
                <td class="scheduleRow">&nbsp;</td>
            </tr>
            <tr>
                <td class="scheduleRow">
                @tags.publisher.renderShowDay("bof", "wednesday", "BOFs")
                </td>
                <td class="scheduleRow">
                @tags.publisher.renderShowDay("tia", "thursday", "Tools in Action")
                </td>
                <td class="scheduleRow">&nbsp;</td>
                <td class="scheduleRow">&nbsp;</td>
            </tr>
            <tr>
                <td class="scheduleRow"><a href="http://cfp.devoxx.pl/2017/talk/BUR-6513/Hackergarten">Hackergarten</a></td>
                <td class="scheduleRow"><a href="http://cfp.devoxx.pl/2017/talk/BUR-6513/Hackergarten">Hackergarten</a></td>
                <td class="scheduleRow">&nbsp;</td>
                <td class="scheduleRow">&nbsp;</td>
            </tr>
            <tr>
                <td class="scheduleRow">&nbsp;</td>
                <td class="scheduleRow"><a href="http://fatj-krakow-2017.eventbrite.com">Find A Tech Job</a></td>
                <td class="scheduleRow">&nbsp;</td>
                <td class="scheduleRow">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="6" class="scheduleContentRow ">
                    <p class="scheduleAllTalks"><a href="@routes.Publisher.showAllTalksByType()">Click</a> to see all the talks grouped by track</p>
                </td>
            </tr>
        </tbody>
    </table>


    <!-- ******************************************************************* //-->

<div class="large-6 columns">
    <h3>The Devoxxians</h3>
<p>We're welcoming rock star speakers from around the globe, see the full list <a href="/2017/speakers.html">here</a>.</p>
</div>

<div class="large-6 columns">
    <h3>Hands-on Labs</h3>
<p>Hands-on Labs are 2 or 3 hours long in-depth, hands-on session.</p>
</div>

<div class="large-6 columns">
    <h3>Tools in Action</h3>
<p>30 minute sessions with a focus on technical tools and APIs.</p>
</div>

<div class="large-6 columns">
    <h3>Hackergarten</h3>
<p>Hackergartens are a great place to meet new people, have fun, and improve the lives of developers around the world
    one patch at a time; provided you're willing to bring your laptop and get your hands dirty. Write a plugin,
    a tutorial, a small feature, or a bug fix for a project that interests you alongside several open-source experts
    willing to share their knowledge.</p>
</div>

<div class="large-6 columns">
    <h3>Conference</h3>
<p>Conference talks are regular 50 minutes sessions.</p>
</div>

<div class="large-6 columns">
    <h3>Quickies</h3>
<p>15 minute sessions during the lunch breaks.</p>
</div>

<div class="large-6 columns">
    <h3>BOFs</h3>
<p>Informal evening sessions of 1 hour. Usually very interactive, full of discussions, kind of Q&A format.</p></div>
}