@()(implicit lang: Lang, flash: Flash, req:RequestHeader)

@views.html.Publisher.devoxxUK("Schedule",Some(Messages("CONF.title") + " agenda")){

<div class="large-12 columns">
<h2>@Messages("CONF.title") Schedule</h2>
</div>
    <div class="small-12 medium-12 large-12 column">
      <a style="text-decoration: none" href="/app">
        <h3 style="color: #ff7518">@Messages("xconf.seeSchedule")</h3>
      </a>
    </div>
    <hr>

    <div class="small-12 medium-6 large-6 column">
        <a style="text-decoration: none" href="/2018/speakers.html">  <h3 style="color: #ff7518">The Devoxxians</h3></a>
        <p>We're welcoming rock star speakers from around the globe, see the full list here.</p>
        <p><a href="/2018/speakers.html">List of Speakers</a></p>
    </div>

    <div class="large-3 columns right">
        <a href="https://itunes.apple.com/us/app/my-devoxx/id1094805620" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/cfpdevoxx/images/AppStore.jpg"></a>
        <a href="https://play.google.com/store/apps/details?id=com.devoxx" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/cfpdevoxx/images/GooglePlay.jpg"></a>
    </div>

    <div class="small-12 medium-6 large-6 column">
        <a style="text-decoration: none" href="@routes.Publisher.showByTalkType("conf")">  <h3 style="color: #ff7518">Conference Sessions</h3></a>
        <p>Conference talks are 50 minutes in duration and run throughout Thursday & Friday.</p>
        <p><a href="@routes.Publisher.showByTalkType("conf")">List of Conference Sessions</a></p>
    </div>
    <div class="clearfix"></div>

    <div class="small-12 medium-6 large-6 column">
        <a style="text-decoration: none" href="@routes.Publisher.showByTalkType("deep_dive")"> <h3 style="color: #ff7518">Deep Dive Sessions</h3></a>
        <p>These are intensive 3 hour sessions where an expert delves much more extensively into a subject than is possible during regular conference sessions.</p>
        <p>Deep Dives give attendees the chance to rapidly immerse themselves into a subject matter with an in-depth examination of a topic or technology.</p>
        <p><a href="@routes.Publisher.showByTalkType("deep_dive")">List of Deep Dive Sessions</a></p>
    </div>

    <div class="small-12 medium-6 large-6 column">
        <a style="text-decoration: none" href="@routes.Publisher.showByTalkType("lab")"> <h3 style="color: #ff7518">Hands-on Labs</h3></a>
        <p>Practical hands-on sessions of 2 hours with maximum of 40 people per room. Attendees will need to prepare their machines for Labs in advance so that sessions get underway promptly.</p>
        <p><a href="@routes.Publisher.showByTalkType("lab")">List of Hands-on Labs</a></p>
    </div>
    <div class="clearfix"></div>

    <div class="small-12 medium-6 large-6 column">
        <a style="text-decoration: none" href="@routes.Publisher.showByTalkType("quick")"><h3 style="color: #ff7518">Quickie Sessions</h3></a>
        <p>15 minute sessions held during the lunch breaks, there give the chance to present a quickfire view, explanation or delve into a particular subject.</p>
        <p><a href="@routes.Publisher.showByTalkType("quick")">List of Quickie sessions</a></p>
    </div>

    <div class="small-12 medium-6 large-6 column">
        <a style="text-decoration: none" href="@routes.Publisher.showByTalkType("bof")"> <h3 style="color: #ff7518">BOF</h3></a>
        <p><a href="http://en.wikipedia.org/wiki/Birds_of_a_feather_%28computing%29">BOF (Bird of a feather)</a>
         are informal evening sessions of 1 hour designed for audience participation. A host will kick off proceedings and open the floor for audience members to provide opinions and suggest actions.</p>
        <p><a href="@routes.Publisher.showByTalkType("bof")">List of BOF sessions</a></p>
    </div>
    <div class="clearfix"></div>

    <div class="small-12 medium-6 large-6 column">
        <a style="text-decoration: none" href="@routes.Publisher.showByTalkType("ignite")"> <h3 style="color: #ff7518">Ignite Sessions</h3></a>
        <p>These are 5 minute sessions held on Thursday evening, with 20 slides auto-forwarding every 15 seconds. Not for the faint-hearted, there sessions are meant to “ignite” the audience on a subject, whereby awareness, thought, and action are generated on the subjects presented.</p>
        <p><a href="@routes.Publisher.showByTalkType("ignite")">List of Ignite sessions</a></p>
    </div>

    <div class="clearfix"></div>
}
