@(speaker:Speaker)

<strong  style="margin-left: 550px">«Version  Française en bas »</strong>
<p>Hi @speaker.firstName ,</p>

<p> First we would like to thank you for submitting quality proposals!, </p>
<p> We invite you to accept the Terms and Conditions, and also don't forget to tidy up your profile! a good bio is needed since your profile is going to be public</p>
<p>Please validate the general terms and conditions by following this link in your browser</p>
<a href="@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.ApproveOrRefuse.showAcceptTerms()">@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.ApproveOrRefuse.showAcceptTerms()</a>

<p>The conference selection team @Messages("longYearlyName") team</p>

<hr>
