@(firstName:String, proposals:List[Proposal])
@import models.conference.ConferenceDescriptor
<p>Dear @firstName</p>
<br>
<p><strong>CFP will be closed on @ConferenceDescriptor.current().timing.cfpClosedOn.toString("EEEE dd/MM/YYYY HH:mm")</strong></p>
<p>We'd like to inform you that you have @proposals.size proposal@if(proposals.size>1){s} with status set to "Draft" on @Messages("longName") CFP.
You must submit a talk for review on your private CFP section, so that the program committee can review and vote for your proposal.</p>

@proposals.map{proposal=>
- @proposal.title <a href="@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CallForPaper.editProposal(proposal.id)">@proposal.id</a> <br>
}
<br>
<p>If you don't want to receive this message, you can also move the draft proposals to Trash from the home section.</p>
<br>
<p>Thanks!</p>

<p>The @Messages("longName") team</p>