@(validationLink:String, conferenceName:String,participant:Webuser)

<h2>Welcome to @conferenceName</h2>
<p>Thanks for joining @conferenceName. We created an account for you on the CFP website <a rel="notrack" href="@validationLink">@validationLink</a>
 ,here are the details to access your account</p>
<p> Email: @participant.email </p>
<p>  password:@participant.password</p>

<br/>
<p>L'équipe @Messages("longName")</p>
<br/>
<hr>
@if(ConferenceDescriptor.current().frLangEnabled) {
    <h2>Bienvenue à @conferenceName!</h2>
    <p>Merci de vous être inscrit sur le site du @conferenceName .nous avons créé un compte pour vous sur le site CFP  <a rel="notrack" href="@validationLink">@validationLink</a>
        , voici les coordonnées pour accéder à votre compte   </p>
    <p> Email: @participant.email </p>
    <p>  password:@participant.password</p>

    <br/>
    <p>L'équipe @Messages("longName")</p>
    <br/>
    <hr>
}
