@(formAccept: Form[Boolean])(implicit lang: Lang, flash: Flash, req: RequestHeader)

@main("Accept or refuse "+ Messages("shortName")+" terms") {

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1><i class="icon-bullhorn"></i>Devoxx US 2017 : Terms and Conditions</h1>
                </div>

                <div class="panel-body">
                    <div class="panel-body">

                        @if(flash.get("error").isDefined) {
                            <div class="col-md-12">
                                <div class="alert alert-danger alert-dismissable">
                                    <strong>Error :</strong>
                                    @flash.get("error").get
                                </div>
                            </div>
                        }
                        @if(flash.get("success").isDefined) {
                            <div class="col-md-12">
                                <div class="alert alert-success alert-dismissable">
                                @flash.get("success").get
                                </div>
                            </div>
                        }

                        <div class="col-md-8 col-lg-offset-2">

                            <p>Please read and accept the Devoxx US Terms & Conditions :</p>

                            <div class="input-group">
<textarea class="form-control" cols="70" rows="15">
    I understand I have been invited to speak at Devoxx US 2017 (“Devoxx US”), and agree to the following terms and conditions, including granting the rights and permissions noted below to the Eclipse Foundation, Inc., its contractors, sublicensed distributors, and agents, who collectively are the organizers of Devoxx US (“Devoxx US Organizers”).


    * I’ll Give the Talk(s)

    I agree to present my talk(s) at Devoxx US and to adhere to the content and intent as outlined in the description provided through the Devoxx US Call for Papers.  I agree to inform you immediately if, for any reason, I am unable to give my talk(s).


    * I’m Responsible

    I acknowledge that I alone am responsible for the published description and the content of my talk(s).  I will inform Devoxx US immediately of any errors in facts, formatting, grammar, spelling, etc.


    * No Warranties

    I provide my material “as is,” without warranties or conditions of any kind, either expressed or implied including, without limitation, any warranty of fitness for any particular purpose.


    * OK to Promote My Talk and Me

    I grant the Organizers the necessary permissions and rights to use my name, biographic material, likeness, and portrait (collectively, my “Likeness”) for the purpose of publicizing my presentation(s) at, and my participation in, Devoxx US (my “Presentation”).


    * OK to Record Me

    I grant the Organizers the necessary permissions and rights to (or to have done) transcribe, reproduce, and distribute under the terms of the CC-BY license [1], a recording of myself and my presentation in complete or partial form, in either audio or video or both (the “Recordings”).


    [1] https://creativecommons.org/licenses/by/3.0/legalcode


    * OK to Use Recordings

    I further grant permissions and rights to the Organizers to use, copy, translate, reformat, broadcast, publish, and distribute all or parts of my Presentation and the Recordings, a transcript of the Recordings, and any presentation materials that I provide to Devoxx US and use in connection with my Presentation (the “Presentation Materials”).  This includes, without limitation, the right to distribute the Presentation materials via streaming and download on the Devoxx US website or similar chosen website, as part of the Devoxx US proceedings and archives that Devoxx US makes available on its website.  Any such use must be in connection with Devoxx US, and must not be misleading or reflect negatively on my company or me.


    * I Have to Pay My Own Way

    I understand that I must pre-register to attend the conference and that I am responsible for my own costs of attending and preparing for the conference, including lodging and travel costs.  I understand that not all invitations to speak include a free or discounted registration, and that I will receive information regarding any free or discounted registration via email from you.  I understand that neither my company nor I will receive any compensation for granting these rights and permissions.  Neither Devoxx US nor the Organizers are granted any other permissions or rights with respect to my Likeness, my Presentation, the Recordings or the presentation materials.


    * No Swag

    I understand that technical sessions at Devoxx US are vendor-neutral, and I promise not to distribute promotional materials or collect email address for sales leads, etc. during my talk(s).


    * I’ll Leave Time for Questions

    I understand that talks are limited to a specific length of time, and I promise to finish my talk(s) on time, and to ensure I leave time at the end for the audience to ask questions.


    * At the Conference – Check-In and AV Setup

    I understand the conference program, including my scheduled time and room, will be posted on the Devoxx US website.  Sometimes last-minute changes are made to the schedule, so I agree to verify those details when I check in at the registration desk at the conference.
    I understand that AV in my talk room will include a data projector and, for larger rooms, a microphone and speaker monitor.  I understand I must bring my own laptop and software to give my presentation.


    * Forever

    All permissions and agreements herein shall be effective in perpetuity.

    I agree to the above terms and conditions.
</textarea>
                            </div>
                            @helper.form(routes.ApproveOrRefuse.acceptTermsAndConditions()) {
                                @helper.checkbox(formAccept("accept.chk"))
                                <input type="submit" value="Validate" class="btn btn-lg btn-success">
                                <a href="@routes.CallForPaper.homeForSpeaker()" class="btn btn-lg btn-danger">Decline</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}