@(proposalId: String)(implicit req: RequestHeader)

@if(ConferenceDescriptor.isFavoritesSystemActive){
    @defining(UserCFPController.findAuthenticator) { maybeUuid:Option[String] =>
        @maybeUuid.map { uuid:String =>

            @if(FavoriteTalk.isFavByThisUser(proposalId = proposalId, webuserId = uuid)) {
                <input id="checkbox_@proposalId" type="checkbox" class="cfp-fav" value="@proposalId" checked>
            } else {
                <input id="checkbox_@proposalId" type="checkbox" class="cfp-fav" value="@proposalId">
            }
            @defining(FavoriteTalk.countForProposal(proposalId)) { total:Long =>
                <label title="@total★" class="cfp-lab" for="checkbox_@proposalId">
                @if(total > 10) {
                    <span style="position: absolute;right: 22px;">@total</span>
                }
                </label>
            }
        }.getOrElse {
            @defining(FavoriteTalk.countForProposal(proposalId)) { total:Long =>
                <a href="@routes.Authentication.prepareSignup(visitor = true)" title="Click here to add this talk to your agenda">
                    <label title="@total★" class="cfp-lab" for="checkbox_@proposalId">
                    @if(total > 10) {
                        <span style="position: absolute;right: 22px;">@total</span>
                    }
                    </label>
                </a>
            }
        }
    }
}