@()(implicit lang: Lang, flash: Flash, req:RequestHeader)

@api("talk") {
<div class="row">
    <div class="col-md-12">
    <h1>@Messages("shortName") API</h1>
    <hr>
       <h3>Documentation for "talk"</h3>

        <p>Returns a JSON object that describes a Talk.</p>
        <ul>
            <li>id: Unique ID for this talk, used everywhere, in our printed program, on the web site, etc.</li>
            <li>title: Title of this talk</li>
            <li>audienceLevel: The audience level</li>
            <li>tags: The proposal content tags, always 3 tags defined</li>
            <li>talkType: talk format (translated to French or English, depending on your "Accept-language" Header)</li>
            <li>track: The track label (translated to French or English, depending on your "Accept-language" Header)</li>
            <li>lang: "en" if the presentation is in English, "fr" if it's in French, etc.</li>
            <li>summary: short description of this proposal, might use markdown syntax.</li>
            <li>summaryAsHtml: HTML version, markdown transformed to HTML</li>
            <li>speakers: an array of <a href="@routes.RestAPI.profile("link")">links</a> to each <a href="@routes.RestAPI.profile("speaker")">speaker</a>, with its full name</li>
        </ul>

        <h4>Sample:</h4>
    <code>
        curl -H "Accept: application/json" <a href="@routes.RestAPI.showTalk(Conference.currentConference.eventCode, "JMA-6842").absoluteURL()">@routes.RestAPI.showTalk(Conference.currentConference.eventCode, "JMA-6842").absoluteURL()</a>
    </code>

        <h4>Result:</h4>
            <code>
                <pre>
{
    "id": "JMA-6842",
    "title": "Build, Debug and Deploy your first Chatbot",
    "lang": "en",
    "summary": "Chatbots are computer programs that interact via auditory or textual methods. They can be integrated in any chat service like Slack or Facebook Messenger. You can talk to them using SMS. You can even converse with them using Alexa. This talk will explain how I built first chatbot for our Star Wars-struck family. Attendees will learn the key components required for a chatbot. A fully functional chatbot built using Java Serverless backend and multiple frontends such as Alexa, SMS and Slack will be explained. Attendees will learn how to publish their first Alexa skill set. Choice of technologies, development tools and debugging techniques will be explained. Attendees will be able to ask their Star Wars question live during the session.",
    "trackId": "bigdata",
    "talkType": "Conference",
    "tags": [
        {
        "value": "chat bots"
        },
        {
        "value": "serverless"
        },
        {
        "value": "Alexa"
        },
        {
        "value": "Machine Learning for Developers"
        },
        {
        "value": ""
        }],
    "track": "Big Data &amp; Machine Learning",
    "audienceLevel": "level 1 : beginner/novice",
    "summaryAsHtml": "&lt;p&gt;Chatbots are computer programs that interact via auditory or textual methods. They can be integrated in any chat service like Slack or Facebook Messenger. You can talk to them using SMS. You can even converse with them using Alexa. This talk will explain how I built first chatbot for our Star Wars-struck family. Attendees will learn the key components required for a chatbot. A fully functional chatbot built using Java Serverless backend and multiple frontends such as Alexa, SMS and Slack will be explained. Attendees will learn how to publish their first Alexa skill set. Choice of technologies, development tools and debugging techniques will be explained. Attendees will be able to ask their Star Wars question live during the session.&lt;/p&gt;",
    "speakers": [{
        "link": {
            "href": "https://cfp.devoxx.be/api/conferences/DVBE17/speakers/69e5596a50112585d5acdb93e0a4da47a10a6a8d",
            "rel": "https://cfp.devoxx.be/api/profile/speaker",
            "title": "Arun Gupta"
        },
        "name": "Arun Gupta"
        },
        {
        "link": {
            "href": "https://cfp.devoxx.be/api/conferences/DVBE17/speakers/bf0443d3cc0f9ef6c7550d58fd0c88301906aff6",
            "rel": "https://cfp.devoxx.be/api/profile/speaker",
            "title": "Tara Walker"
        },
        "name": "Tara Walker"
        }
    ]
}
</pre>

            </code>
        </div>
</div>

}